@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
}

.custom-shape-divider-bottom .shape-fill {
  /* fill: #aad17f; */
  fill: burlywood;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 113px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top .shape-fill {
  fill: burlywood;
}
